.home-page {
  width: 90%;
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 2rem;
  font-family: 'Source Serif 4', serif;
  line-height: 1.8;
}

.home-page h2 {
  font-size: clamp(30px, 8vw, 50px); 
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.home-page h3 {
  font-size: clamp(80px, 12vw, 100px); 
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 3rem;
  text-align: center;
  line-height: 1;
}

.home-content {
  margin-top: 2rem;
}

.home-content p {
  font-size: clamp(16px, 2vw, 20px);
  color: black;
  margin-bottom: 2rem;
  text-align: left;
}