.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  height: 85%;
  margin: 1%;
  margin-top: 7%;
}

.main-page h2 {
  font-family: 'Source Serif 4', serif;
  font-size: 80px;
  font-weight: normal;
  color: black;
  margin: 1%;
}

.current-time {
  font-family: 'Source Serif 4', serif;
  font-size: 180px;
  font-weight: bold;
  color: black;
  margin: 1%;
}

.start-button {
  background-color: black;
  color: #F9F9F9;
  border: none;
  border-radius: 8px;
  font-size: 25px;
  cursor: pointer;
  font-family: 'Source Serif 4', serif;
  padding: 10px 60px;
  white-space: nowrap;
}

.start-link {
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  margin-top: 12%;
}

.start-button:hover {
  background-color: #F9F9F9;
  border: solid;
  border-width: 2px;
  border-color: black;
  color: black;
}