.navbar {
  background-color: transparent;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  font-family: 'Source Serif 4', serif;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 1% 2%;
}

.navbar-logo {
  color: black;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

.navbar-link {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: inherit;
  display: flex;
  align-items: center;
}

.navbar-link:hover {
  color: blue;
}

.navbar-logo-link {
  text-decoration: none;
}

.navbar-logo:hover {
    color: blue;
}